doctype html
html
  head
    title Brawl Stars Info
  body
    h1 Find Brawler Information By Name
    form(action="/ps5b/promise" method="post")
      input(type="text" name="brawlerName" placeholder="Enter brawler name")
      button(type="submit") Search with promise
    form(action="/ps5b/async" method="post")
      input(type="text" name="brawlerName" placeholder="Enter brawler name")
      button(type="submit") Search with async
    form(action="/ps5b/callback" method="post")
      input(type="text" name="brawlerName" placeholder="Enter brawler name")
      button(type="submit") Search with callback